
[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Icon[en_US]=Cherry-icon_48
Name[en_US]=FruitCheck
Exec=fruitcheck
Name=FruitCheck
Icon=/usr/share/pixmaps/Cherry-icon_48.png
